<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
{% extends "pages/layout.html" %}
<head>
    <meta charset="utf-8" />
    <title>{% block title %} Đăng ký thành viên {% endblock %}</title>
</head>
<body>
    {% block content %}
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Usename</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mật khẩu</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Nhập lại mật khẩu</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Đăng Ký</button>
    </form>
    {% endblock %}
</body>
</html>